<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/create" method="post">
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" required><br>

  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" required><br>

  <label for="salary">salary:</label>
  <input type="int" id="salary" name="salary" required><br>

  <input type="submit" value="Create User">
</form>
</body>
</html>