<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update User</h1>
<form action="/update" method="post">
    <label for="id">User ID:</label>
    <input type="text" id="id" name="id" required><br>

    <label for="salary">New salary:</label>
    <input type="int" id="salary" name="salary" required><br>

    <input type="submit" value="Update User">
</form>
<a href="/">Back to Index</a>
</body>
</html>